@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@layer base {
    @font-face {
        font-family: "instrument_italic";
        src: url("/assets/fonts/instrument_italic.ttf");
    }
}

@layer base {
    @font-face {
        font-family: "instrument_regular";
        src: url("/assets/fonts/instrument_regular.ttf");
    }
}

@layer base {
    @font-face {
        font-family: "inter_bold";
        src: url("/assets/fonts/inter_bold.ttf");
    }
}

@layer base {
    @font-face {
        font-family: "inter_italic";
        src: url("/assets/fonts/inter_italic.ttf");
    }
}

@layer base {
    @font-face {
        font-family: "inter_medium";
        src: url("/assets/fonts/inter_medium.ttf");
    }
}

@layer base {
    @font-face {
        font-family: "inter_regular";
        src: url("/assets/fonts/inter_regular.ttf");
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border: 0;
    outline: none;
}

html {scroll-behavior: smooth;}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #5A5A5A;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    body::-webkit-scrollbar-thumb {
        background: #BBBBBB;
    }
}

.img_scroller::-webkit-scrollbar {
    display: none;
}

a {
    margin: 0;
    padding: 0;
}